**/__pycache__*/
#**/output*/
**/plots*/
**/.archive*/
**/.archived*/
reports*/
**btr files*/
**.btr
**.log
Miniconda3-latest-Linux-x86_64.sh
**.pid
**_data.json
**/*.btr
**/*.log
**/*_data.json
**_data.json
#**/BigData*/
**.npz
**/tmp*/
#**_repaired.pdf
/NERSC/temp*/