[submodule "netpyne"]
	path = netpyne
	url = https://github.com/suny-downstate-medical-center/netpyne.git
[submodule "submodules/MEA_Analysis"]
	path = submodules/MEA_Analysis
	url = git@github.com:adamwea/MEA_Analysis.git
