[submodule "submodules/MEA_Analysis"]
	path = submodules/MEA_Analysis
	url = git@github.com:adamwea/MEA_Analysis.git
[submodule "submodules/netpyne"]
	path = submodules/netpyne
	url = git@github.com:adamwea/netpyne.git
	branch = RBSnetsim_submod
