batching==1.2.0
dill==0.3.9
evol==0.5.3
fitting==1.0.6
fitz==0.0.1.dev2
grid==0.7.1
h5py==3.11.0
matplotlib==3.7.5
#MEA_Analysis==0.0.3
#MEA_Analysis.egg==info
MEAProcessingLibrary.egg==info
modules==1.0.0
mpi4py==4.0.0
netpyne==1.0.7
netpyne.egg==info
NEURON==8.2.6
numpy==1.24.4
pandas==2.0.3
pdf2image==1.17.0
Pillow==11.1.0
PyPDF2==3.0.1
python_pptx==1.0.2
scikit_learn==1.3.2
scipy==1.15.0
setuptools==75.3.0
simulate==0.1.2
spikeinterface==0.100.4
tqdm==4.67.0
workspace==0.3.1
